@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}
/* !  shared styles */
.container {
  width: 82%;
  max-width: 1188px;
  margin: auto;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
}

/*! header section styles*/

header {
  margin-top: 50px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
}

nav > ul {
  display: flex;
  align-items: center;
  gap: 34px;
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
}

.banner {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.banner_content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.banner_title {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 52px;
  font-weight: 700;
  line-height: 70px;
}

.banner_desc {
  max-width: 505px;
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
}

.banner_btn {
  padding: 10px 24px;
  border-radius: 41px;
  background: #e02c6d;
  align-self: start;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 6px;
}

.banner_img {
  background: url("../images/icons/camera_bg.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.banner_img img {
  width: 100%;
}

.toggle_bar,
.cart {
  display: none;
}

.hide {
  display: none;
}

/* ! brand section style */

.brand_container {
  width: 69%;
  max-width: 990px;
  margin: 112px auto 134px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-items: center;
  gap: 48px;
}

/* ! popular collection section*/

.popular_collection {
  width: 73%;
  max-width: 1050px;
  margin: 0 auto;
}

.popular_collection_title {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 28px;
  font-weight: 600;
  line-height: 70px;
  text-align: center;
}

.cards_container {
  margin-top: 47px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.cards_container .card {
  padding: 17px 15px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.cards_container .card > img {
  border-radius: 5px;
  width: 100%;
  object-fit: cover;
}

.card_title {
  color: #18191f;
  font-family: Poppins;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  margin-top: 16px;
}

.card_price {
  color: rgba(0, 0, 0, 0.87);
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
  margin-top: 6;
}
.rating_container {
  display: flex;
  align-items: center;
  gap: 11px;
  margin-top: 11px;
}

.card_desc {
  max-width: 196px;
  color: #787885;
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 143%;
  letter-spacing: 0.252px;
  margin-top: 6px;
}

/* ! responsive for tablet */
@media screen and (max-width: 992px) {
  .container {
    width: 88%;
  }
  nav > ul {
    display: none;
  }
  .toggle_bar,
  .cart {
    display: block;
  }
  .banner_title {
    font-size: 34px;
    line-height: 50px;
  }
  .banner_desc {
    font-size: 18px;
  }
  .banner_btn {
    font-weight: 600;
  }

  /* ? popular collection*/
  .popular_collection {
    width: 88%;
  }
  .cards_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ! responsive for mobile */
@media screen and (max-width: 576px) {
  .container {
    width: 92%;
  }
  nav > ul {
    display: none;
  }
  .toggle_bar,
  .cart {
    display: block;
  }
  nav .logo {
    font-size: 16px;
  }

  .banner {
    flex-direction: column-reverse;
  }
  .banner_title {
    margin-top: 30px;
    font-size: 28px;
    max-width: 404px;
    line-height: normal;
    text-align: center;
  }
  .banner_desc {
    font-size: 14px;
    text-align: center;
  }
  .banner_btn {
    align-self: center;
    font-weight: 500;
    font-size: 1rem;
  }
  /* ? brand section */
  .brand_container {
    width: 92%;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px 28px;
    margin-top: 53px;
    align-items: center;
  }
  .brand_container img {
    width: 100%;
  }

  /* ? popular collection*/
  .popular_collection {
    width: 92%;
  }
  .cards_container {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px 0;
    margin-top: 20px;
  }
  .card_title,
  .card_price {
    font-weight: 700;
  }
  .card_desc {
    font-weight: 400;
    margin-top: 10px;
  }

  .brand_container {
    margin: 112px auto 54px;
  }
}
