@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}
/* !  shared styles */
.container {
  width: 82%;
  max-width: 1188px;
  margin: auto;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
}

/*! header section styles*/

header {
  margin-top: 50px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
}

nav > ul {
  display: flex;
  align-items: center;
  gap: 34px;
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
}

.banner {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.banner_content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.banner_title {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 52px;
  font-weight: 700;
  line-height: 70px;
}

.banner_desc {
  max-width: 505px;
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
}

.banner_btn {
  padding: 10px 24px;
  border-radius: 41px;
  background: #e02c6d;
  align-self: start;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 6px;
}

.banner_img {
  background: url("../images/icons/camera_bg.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.banner_img img {
  width: 100%;
}

.toggle_bar,
.cart {
  display: none;
}

.hide {
  display: none;
}

.brand_container {
  width: 69%;
  max-width: 990px;
  margin: 112px auto 140px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  column-gap: 60px;
}

.brand_container img {
  width: 100%;
}

/* ! responsive for tablet */
@media screen and (max-width: 920px) {
  .container {
    width: 88%;
  }
  nav > ul {
    display: none;
  }
  .toggle_bar,
  .cart {
    display: block;
  }
  .banner_title {
    font-size: 34px;
    line-height: 50px;
  }
  .banner_desc {
    font-size: 18px;
  }
  .banner_btn {
    font-weight: 600;
  }
  .brand_container {
    width: 88%;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px 35px;
    margin-top: 70px;
    align-items: center;
  }
  .brand_container img {
    width: 100%;
  }
}

/* ! responsive for mobile */
@media screen and (max-width: 576px) {
  .container {
    width: 92%;
  }
  nav > ul {
    display: none;
  }
  .toggle_bar,
  .cart {
    display: block;
  }
  nav .logo {
    font-size: 16px;
  }

  .banner {
    flex-direction: column-reverse;
  }
  .banner_title {
    margin-top: 30px;
    font-size: 28px;
    max-width: 404px;
    line-height: normal;
    text-align: center;
  }
  .banner_desc {
    font-size: 14px;
    text-align: center;
  }
  .banner_btn {
    align-self: center;
    font-weight: 500;
    font-size: 1rem;
  }
  /* ? brand section */
  .brand_container {
    width: 92%;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px 28px;
    margin-top: 53px;
    align-items: center;
  }
  .brand_container img {
    width: 100%;
  }
}
